@using System.Collections
@using BehaviorTracker.Client.Shared.Common
@using BehaviorTracker.Client.Validators
@using FluentValidation
@using FluentValidation.Internal
@inherits AdminStudentModel

<div class="row">
    <div class="col-12">
        <div id="StudentKey@(Model.StudentKey)Accordion">
            <div class="card">
                <div class="card-header" id="StudentKey@(Model.StudentKey)Header">
                    <h5 class="mb-0">
                        <button class="btn btn-link @(_editMode ? "d-none" : "")" data-toggle="collapse" data-target="#StudentKey@(Model.StudentKey)Body" aria-expanded="true" aria-controls="@Model.StudentFirstName @Model.StudentLastName">
                            @Model.StudentFirstName @Model.StudentLastName
                        </button>
                        <form class="form-inline @(!_editMode ? "d-none" : "")" style="font-size: .75em;" onsubmit="@Save">
                            <div class="form-group">
                                <label for="FirstName-@Model.StudentKey">First Name</label>
                                <input type="text" class="form-control" id="FirstName-@Model.StudentKey" aria-describedby="First Name" placeholder="First Name" bind="@Model.StudentFirstName" onblur="@(() => Validate(nameof(Model.StudentFirstName)))"/>
                               
                            </div>
                            <div class="form-group">
                                <label for="LastName-@Model.StudentKey">Last Name</label>
                                <input type="text" class="form-control" id="LastName-@Model.StudentKey" aria-describedby="Last Name" placeholder="Last Name" bind="@Model.StudentLastName"/>
                            </div>
                            <button type="button" class="btn btn-link" aria-label="Cancel" onclick="@Cancel">
                                <span class="oi oi-x" style="color: red"></span>
                            </button>
                            <button type="submit" class="btn btn-link" aria-label="Save">
                                <span class="oi oi-check" style="color: green"></span>
                            </button>
                        </form>
                        <button class="btn btn-link @(_editMode ? "d-none" : "")" style="font-size: .75em;" onclick="@Edit" aria-label="Edit">
                            <span class="oi oi-pencil"></span>
                        </button>
                        <button class="btn btn-link @(_editMode ? "d-none" : "")" style="font-size: .75em; color: red" onclick="@Delete" aria-label="Delete">
                            <span class="oi oi-trash"></span>
                        </button>

                    </h5>
                </div>
                <div id="StudentKey@(Model.StudentKey)Body" class="collapse show" aria-labelledby="StudentKey@(Model.StudentKey)Header" data-parent="#StudentKey@(Model.StudentKey)Accordion">
                    <div class="card-body">
                        <h5>Goals</h5>
                        @if (Model.Goals != null)
                        {
                            foreach (var goal in Model.Goals)
                            {
                                <AdminGoal DeleteGoal="@DeleteGoal" Model="@goal"/>
                            }
                            <AddButton OnAdd="@AddGoal" ButtonText="Add Goal"/>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

