@using BehaviorTracker.Shared
@inherits AdminGoalModel

<div class="col-12">
    <div id="GoalKey@(Model.GoalKey)Accordion">
        <div class="card">
            <div class="card-header" id="GoalKey@(Model.GoalKey)Header">
                <h5 class="mb-0">
                    @if (Model.GoalType == GoalType.Numeric)
                    {
                        <button class="btn btn-link @(_editMode ? "d-none" : "") collapsed" data-toggle="collapse" data-target="#GoalKey@(Model.GoalKey)Body" aria-expanded="false" aria-controls="@Model.GoalDescription">
                            @Model.GoalDescription
                        </button>
                    }
                    else
                    {
                        <span style="font-size: 1rem; line-height: 1.5; padding: .375rem .75rem;" class="@(_editMode ? "d-none" : "") collapsed">@Model.GoalDescription</span>
                    }
                    <form class="form-inline @(!_editMode ? "d-none" : "")" style="font-size: .75em;" onsubmit="@Save">
                        <label for="Description-@Model.GoalKey">Goal</label>
                        <div class="input-group">
                            <input type="text" class="form-control @ValidationClassName(nameof(Model.GoalDescription))" id="Description-@Model.GoalKey" aria-describedby="Goal" placeholder="Goal" bind="@Model.GoalDescription" style="width: 350px;" onblur="@(() => ValidateAsync(nameof(Model.GoalDescription)))"/>
                            <ValidationMessages IsInvalid="@(() => IsInvalid(nameof(Model.GoalDescription)))" Errors="@ErrorsOf(nameof(Model.GoalDescription))" />
                        </div>
                        <label for="GoalType-@Model.GoalKey">Goal Type</label>
                        <div class="input-group">
                            <select class="form-control @ValidationClassName(nameof(Model.GoalType))" id="GoalType-@Model.GoalKey" aria-describedby="Goal Type" bind="@Model.GoalType" onblur="@(() => ValidateAsync(nameof(Model.GoalType)))">
                                <option value="@GoalType.None" selected="selected"></option>
                                <option value="@GoalType.YesNo">Yes/No</option>
                                <option value="@GoalType.Numeric">Numeric</option>
                            </select>
                            <ValidationMessages IsInvalid="@(() => IsInvalid(nameof(Model.GoalType)))" Errors="@ErrorsOf(nameof(Model.GoalType))" />
                        </div>
                        <button type="button" class="btn btn-link" aria-label="Cancel" onclick="@Cancel">
                            <span class="oi oi-x" style="color: red"></span>
                        </button>
                        <button type="submit" class="btn btn-link" aria-label="Save">
                            <span class="oi oi-check" style="color: green"></span>
                        </button>
                    </form>
                    <button class="btn btn-link @(_editMode ? "d-none" : "")" style="font-size: .75em;" onclick="@Edit" aria-label="Edit">
                        <span class="oi oi-pencil"></span>
                    </button>
                    <button class="btn btn-link @(_editMode ? "d-none" : "")" style="font-size: .75em; color: red" onclick="@Delete" aria-label="Delete">
                        <span class="oi oi-trash"></span>
                    </button>
                </h5>
            </div>
            @if (Model.GoalType == GoalType.Numeric)
            {
                <div id="GoalKey@(Model.GoalKey)Body" class="collapse" aria-labelledby="GoalKey@(Model.GoalKey)Header" data-parent="#GoalKey@(Model.GoalKey)Accordion">
                    <div class="card-body">
                        <AdminNumericOptionValue Goal="@Model"/>
                    </div>
                </div>
            }
        </div>
    </div>
</div>