@using System.Collections
@using Microsoft.AspNetCore.Blazor.RenderTree
@inherits BehaviorTracker.Client.Shared.Common.GoalAnswerComponent
<div class="form-group">
    <label for="GoalKey@(Answer.GoalKey)-Answer">@Goal.GoalDescription</label>
    @if (GoalAnswerTotal != null)
    {
        <label class="float-right">@GoalAnswerTotal.Received/@GoalAnswerTotal.Available</label>
    }
    <select class="form-control" id="GoalKey@(Answer.GoalKey)-Answer" bind="@Answer.Answer" onblur="@SaveAnswer">
        @* For now this must be done, because blazor won't be able to render correctly on init *@
        @foreach (var kvp in _options)
        {
            <option value="@kvp.Key">@kvp.Value</option>
        }
    </select>
</div>

@functions
{

    private readonly IDictionary<string,string> _options = new Dictionary<string, string>
    {
        {string.Empty, string.Empty}, {true.ToString(), "Yes"}, {false.ToString(), "No"}
    };

}