@using Microsoft.AspNetCore.Blazor.RenderTree
@inherits BehaviorTracker.Client.Shared.Common.GoalAnswerComponent
<div class="form-group">
    <label for="GoalKey@(Answer.GoalKey)-Answer">@Goal.GoalDescription</label>
    @if (Answer != null)
    {
        <select class="form-control" id="GoalKey@(Answer.GoalKey)-Answer" bind="@Answer.Answer" onblur="@SaveAnswer">
            @* For now this must be done, because blazor won't be able to render correctly on init *@
            @foreach (var option in _options)
            {
                <option value="@option">@option</option>
            }
        </select>
    }
    else
    {
        <p>Answer is null</p>
    }
</div>

@functions
{

    private readonly string[] _options = {
        string.Empty, true.ToString(), false.ToString()
    };
    
    
}
